*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

@import "sass/colors";
@import "sass/spacing";

body {
  width: 100%;
  background-color: $blue-dark;

  .logo {
    max-width: 88px;
  }
}

img,
svg {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: $white;
}

p {
  font-size: 16px;
  color: $gray-dark;
  letter-spacing: 1px;
  line-height: 140%;
}

@import "sass/layout";
@import "sass/menu";
@import "sass/animations";
